# 20. Pandas - value_counts - multiple columns, all columns and bad data

In [1]:
import pandas as pd
df_movie = pd.read_csv("../csv/movie_metadata.csv")

In [2]:
import pandas as pd
df_resp = pd.read_csv("../csv/other_text_responses.csv")

## 1. Pandas apply value_counts on multiple columns at once

In [3]:
df_movie.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [4]:
df_movie[['color', 'content_rating']].apply(pd.Series.value_counts)

                   color  content_rating
 Black and White   209.0             NaN
Approved             NaN            55.0
Color             4815.0             NaN
G                    NaN           112.0
GP                   NaN             6.0
M                    NaN             5.0
NC-17                NaN             7.0
Not Rated            NaN           116.0
PG                   NaN           701.0
PG-13                NaN          1461.0
Passed               NaN             9.0
R                    NaN          2118.0
TV-14                NaN            30.0
TV-G                 NaN            10.0
TV-MA                NaN            20.0
TV-PG                NaN            13.0
TV-Y                 NaN             1.0
TV-Y7                NaN             1.0
Unrated              NaN            62.0
X                    NaN            13.0

## 2. Pandas apply value_counts on all columns

In [5]:
# List top values per question
for col in df_resp.columns:
    print('-' * 40 + col + '-' * 40 , end=' - ')
    display(df_resp[col].value_counts().head(10))

----------------------------------------Q12_OTHER_TEXT---------------------------------------- -

LinkedIn                39
Medium                  38
Coursera                16
Linkedin                16
Books                   14
Facebook                11
medium                  11
linkedin                 9
books                    8
Data Science Central     7
Name: Q12_OTHER_TEXT, dtype: int64

----------------------------------------Q13_OTHER_TEXT---------------------------------------- -

mlcourse.ai             35
NPTEL                   23
Youtube                 22
Simplilearn             18
Pluralsight             17
Stepik                  14
Data Science Academy    12
youtube                 12
Springboard             11
Codecademy              10
Name: Q13_OTHER_TEXT, dtype: int64

----------------------------------------Q14_OTHER_TEXT---------------------------------------- -

Python     89
python     45
None       36
Matlab     28
none       22
R          13
SQL        13
matlab     11
MATLAB     11
Python      9
Name: Q14_OTHER_TEXT, dtype: int64

----------------------------------------Q14_Part_1_TEXT---------------------------------------- -

Excel              865
Microsoft Excel    392
excel              263
MS Excel            67
Google Sheets       61
Google sheets       44
Microsoft excel     38
Excel               33
microsoft excel     27
EXCEL               25
Name: Q14_Part_1_TEXT, dtype: int64

----------------------------------------Q14_Part_2_TEXT---------------------------------------- -

SAS       129
SPSS      116
R          60
spss       34
Spss       25
Python     21
Sas        18
Stata      15
python     14
sas        11
Name: Q14_Part_2_TEXT, dtype: int64

----------------------------------------Q14_Part_3_TEXT---------------------------------------- -

Tableau       260
Power BI       71
tableau        51
PowerBI        23
Salesforce     19
Tableau        16
Qlik           10
Power Bi        9
Spotfire        8
Power bi        6
Name: Q14_Part_3_TEXT, dtype: int64

----------------------------------------Q14_Part_4_TEXT---------------------------------------- -

JupyterLab          943
Jupyter             602
RStudio             516
Python              301
Jupyter Notebook    275
Rstudio             225
Jupyterlab          184
jupyter             183
Jupyter notebook    170
python              163
Name: Q14_Part_4_TEXT, dtype: int64

----------------------------------------Q14_Part_5_TEXT---------------------------------------- -

AWS             203
GCP             134
Azure            87
aws              40
Aws              26
Google Colab     25
Databricks       17
gcp              15
Gcp              12
Colab            11
Name: Q14_Part_5_TEXT, dtype: int64

----------------------------------------Q16_OTHER_TEXT---------------------------------------- -

Eclipse          47
IntelliJ         17
Intellij         14
eclipse          13
SAS              11
Google Colab     11
IntelliJ IDEA    10
Anaconda          9
Colab             9
Xcode             8
Name: Q16_OTHER_TEXT, dtype: int64

----------------------------------------Q17_OTHER_TEXT---------------------------------------- -

Databricks          43
databricks          12
Github              12
Anaconda             8
Zeppelin             5
Domino Data Lab      5
Domino               4
Jupyter Notebook     4
DataBricks           3
github               3
Name: Q17_OTHER_TEXT, dtype: int64

----------------------------------------Q18_OTHER_TEXT---------------------------------------- -

C#       198
Scala    100
SAS       79
Julia     46
PHP       43
VBA       30
Go        27
Ruby      27
c#        27
Swift     20
Name: Q18_OTHER_TEXT, dtype: int64

----------------------------------------Q19_OTHER_TEXT---------------------------------------- -

Julia          22
Scala           9
C#              6
Swift           4
Octave          4
SAS             4
julia           2
scala           2
mathematica     2
Rust            2
Name: Q19_OTHER_TEXT, dtype: int64

----------------------------------------Q20_OTHER_TEXT---------------------------------------- -

Tableau     31
Excel       13
MATLAB      12
Power BI    10
Pandas       8
tableau      6
pandas       5
PowerBI      5
Spotfire     4
Dash         4
Name: Q20_OTHER_TEXT, dtype: int64

----------------------------------------Q21_OTHER_TEXT---------------------------------------- -

FPGA                                         7
Laptop                                       4
Fpga                                         2
Pen and Paper                                1
Ms hpc                                       1
NVIDIA Jetson, Intel Movidius                1
Cloud stacks with sets of all three above    1
Hadoop cluster                               1
PC                                           1
SSD                                          1
Name: Q21_OTHER_TEXT, dtype: int64

----------------------------------------Q24_OTHER_TEXT---------------------------------------- -

SVM                        32
Support Vector Machines    11
KNN                         7
Clustering                  6
SVMs                        4
Support Vector Machine      4
SVM, KNN                    4
svm                         4
Support vector machine      3
Collaborative Filtering     2
Name: Q24_OTHER_TEXT, dtype: int64

----------------------------------------Q25_OTHER_TEXT---------------------------------------- -

DataRobot                                                                                                    12
catalyst                                                                                                      7
Catalyst                                                                                                      6
Microsoft ML                                                                                                  2
sklearn                                                                                                       2
fastai                                                                                                        2
Datarobot                                                                                                     2
Writing quite a bit of my own automation                                                                      1
Mostly Deep Learning Libraries & scikit learn. Also recently started using MLFlow for experiment tracking     1
Automated Distributed-Learning mechanism using Google AI Platform.                                            1
Name: Q25_OTHER_TEXT, dtype: int64

----------------------------------------Q26_OTHER_TEXT---------------------------------------- -

GLCM wavelet                                                                                                                                                                                                                                          1
text processing                                                                                                                                                                                                                                       1
openCV                                                                                                                                                                                                                                                1
3D objects classification, segmentation                                                                                                                                                                                                               1
everytime daily constantly, never stoping, never ceasing to fail with measurable risk and damage to never stop knowing the perfect limit of our capacity and perfection. Cancerous attitude towards ourselves but victorious for our comformists.     1
OpenCV                                                                                                                                                                                                                                                1
Custom Built Tools                                                                                                                                                                                                                                    1
OpenCV with GPUs                                                                                                                                                                                                                                      1
Handwriting Recognize tools                                                                                                                                                                                                                           1
Text Classification                                                                                                                                                                                                                                   1
Name: Q26_OTHER_TEXT, dtype: int64

----------------------------------------Q27_OTHER_TEXT---------------------------------------- -

SpaCy                                        2
Am learning this                             1
Flair                                        1
Spss nlp                                     1
O                                            1
Record linkage, clustering, edit distance    1
OCR                                          1
svm                                          1
Stopwords, Lemmatization, TF-IDF, BoW        1
SCDV                                         1
Name: Q27_OTHER_TEXT, dtype: int64

----------------------------------------Q28_OTHER_TEXT---------------------------------------- -

Catboost    24
CatBoost    14
catboost    13
h2o         11
H2O         10
MATLAB       9
Chainer      6
Spacy        4
Caffe        4
SAS          4
Name: Q28_OTHER_TEXT, dtype: int64

----------------------------------------Q29_OTHER_TEXT---------------------------------------- -

Digital Ocean    5
DigitalOcean     4
Tencent Cloud    3
OVH              2
Google Colab     2
Private cloud    2
RStudio cloud    2
Databricks       2
paperspace       2
DataRobot        2
Name: Q29_OTHER_TEXT, dtype: int64

----------------------------------------Q2_OTHER_TEXT---------------------------------------- -

non-binary                           4
Attack Helicopter                    2
bionicle                             2
Unicorn                              1
half femal-half male whole animal    1
MALE                                 1
Lvl 129 Dust Devil                   1
genderfluid helicopter               1
Indescribable                        1
chakka                               1
Name: Q2_OTHER_TEXT, dtype: int64

----------------------------------------Q30_OTHER_TEXT---------------------------------------- -

IBM Cloud           7
Databricks          6
AWS SageMaker       4
AWS EMR             4
IBM Watson          3
AWS S3              3
Azure Databricks    3
Athena              2
Google BigQuery     2
Watson              2
Name: Q30_OTHER_TEXT, dtype: int64

----------------------------------------Q31_OTHER_TEXT---------------------------------------- -

Snowflake                 13
SAS                        6
Spark                      4
Hadoop                     4
DataRobot                  4
Cloudera                   4
Apache Spark               3
IBM Cloud Pak for Data     3
Splunk                     3
Vertica                    2
Name: Q31_OTHER_TEXT, dtype: int64

----------------------------------------Q32_OTHER_TEXT---------------------------------------- -

DataRobot                  15
Knime                      11
KNIME                       8
IBM Watson Studio           7
Alteryx                     4
MATLAB                      4
IBM Watson                  3
R                           3
Datarobot                   3
Watson Machine Learning     3
Name: Q32_OTHER_TEXT, dtype: int64

----------------------------------------Q33_OTHER_TEXT---------------------------------------- -

IBM AutoAI                       6
Prevision.io                     4
H2O AutoML                       3
H2O.ai AutoML                    2
SAS                              2
H20 AutoML                       2
prevision.io                     2
H2O auto ML                      1
MATLAB Classification Learner    1
IBM SPSS Modeler                 1
Name: Q33_OTHER_TEXT, dtype: int64

----------------------------------------Q34_OTHER_TEXT---------------------------------------- -

Snowflake    18
DB2          17
MongoDB      15
Teradata     12
IBM DB2       7
SAP HANA      6
Mongo         6
MariaDB       5
SAS           5
Hadoop        4
Name: Q34_OTHER_TEXT, dtype: int64

----------------------------------------Q5_OTHER_TEXT---------------------------------------- -

Professor                    43
Machine Learning Engineer    32
Teacher                      19
Consultant                   19
Lecturer                     14
CEO                          13
CTO                          13
Engineer                     12
Director                     11
Manager                      11
Name: Q5_OTHER_TEXT, dtype: int64

----------------------------------------Q9_OTHER_TEXT---------------------------------------- -

Farm twitter likes                                           1
RD                                                           1
Build infrastructure around ML and data analyses.            1
Use of ML to do research                                     1
Currently I have not given an opportunity to work with ML    1
Software Development                                         1
BI developer                                                 1
Teach Machine Learning                                       1
teaching                                                     1
Explaining what I do to the team and stakeholders.           1
Name: Q9_OTHER_TEXT, dtype: int64

## 3. Pandas apply value_counts on column with bad data

In [6]:
import difflib 

correct_values = {}
words = df_resp.Q14_Part_3_TEXT.value_counts(ascending=True).index

for keyword in words:
    similar = difflib.get_close_matches(keyword, words, n=20, cutoff=0.6)
    for x in similar:
        correct_values[x] = keyword
             
df_resp["corr"] = df_resp["Q14_Part_3_TEXT"].map(correct_values)

In [7]:
df_resp["corr"].value_counts()

Tableau                                                345
Power BI                                               137
Salesforce                                              43
Qlik                                                    27
Spotfire                                                17
                                                      ...
Bespoke in-house solution                                1
Sqldeveloper                                             1
Saiku BI                                                 1
Qlik Sense                                               1
visualisation with the help the tableau is so easy       1
Name: corr, Length: 171, dtype: int64

In [8]:
df_resp["Q14_Part_3_TEXT"].value_counts()

Tableau                           260
Power BI                           71
tableau                            51
PowerBI                            23
Salesforce                         19
                                 ...
Qlik and Microsoft products         1
Adobe analytics, power bi           1
OBIEE, Tableau                      1
Sql scripting and BI softwares      1
Google data studio                  1
Name: Q14_Part_3_TEXT, Length: 339, dtype: int64