# Chapter 10  Lists

* A list is a sequence
* Lists are mutable
* Traversing a list
* List operations
* List slices
* List methods
* Map, filter and reduce
* Deleting elements
* Lists and strings
* Objects and values
* Aliasing
* List arguments

## 10.1 A list is a sequence

This chapter presents one of Python’s most useful built-in types, lists.
You will also learn more about objects and what can happen when you have
more than one name for the same object.

Like a string, a list is a sequence of values. In a string, the
values are characters; in a list, they can be any type. The values in
a list are called elements or sometimes items.

There are several ways to create a new list; the simplest is to
enclose the elements in square brackets ([ and ]):

In [ ]:
[10, 20, 30, 40]
['crunchy frog', 'ram bladder', 'lark vomit']


The first example is a list of four integers. The second is a list of
three strings. The elements of a list don’t have to be the same type.
The following list contains a string, a float, an integer, and
(lo!) another list:

In [ ]:
['spam', 2.0, 5, [10, 20]]


A list within another list is nested.

A list that contains no elements is
called an empty list; you can create one with empty
brackets, [].

As you might expect, you can assign list values to variables:

In [ ]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
numbers = [42, 123]
empty = []
print(cheeses, numbers, empty)

## 10.2 Lists are mutable

The syntax for accessing the elements of a list is the same as for
accessing the characters of a string—the bracket operator. The
expression inside the brackets specifies the index. Remember that the
indices start at 0:

In [ ]:
cheeses[0]


Unlike strings, lists are mutable. When the bracket operator appears
on the left side of an assignment, it identifies the element of the
list that will be assigned.

In [ ]:
numbers = [42, 123]
numbers[1] = 5
numbers

In [ ]:
numbers[4] = 5


The one-eth element of numbers, which
used to be 123, is now 5.

Figure 10.1 shows 
the state diagram for cheeses, numbers and empty:

![](http://greenteapress.com/thinkpython2/html/thinkpython2011.png)

Lists are represented by boxes with the word “list” outside
and the elements of the list inside. cheeses refers to
a list with three elements indexed 0, 1 and 2.
numbers contains two elements; the diagram shows that the
value of the second element has been reassigned from 123 to 5.
empty refers to a list with no elements.

List indices work the same way as string indices:

The in operator also works on lists.

In [ ]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
'Edam' in cheeses

In [ ]:
'Brie' in cheeses

## 10.3 Traversing a list

The most common way to traverse the elements of a list is
with a for loop. The syntax is the same as for strings:

In [ ]:
for cheese in cheeses:
    print(cheese)


This works well if you only need to read the elements of the
list. But if you want to write or update the elements, you
need the indices. A common way to do that is to combine
the built-in functions range and len:

In [ ]:
for i in range(len(numbers)):
    numbers[i] = numbers[i] * 2
numbers

In [ ]:
for i, e in enumerate(numbers):
    print(i , e)


This loop traverses the list and updates each element. len
returns the number of elements in the list. range returns
a list of indices from 0 to n−1, where n is the length of
the list. Each time through the loop i gets the index
of the next element. The assignment statement in the body uses
i to read the old value of the element and to assign the
new value.

A for loop over an empty list never runs the body:

In [ ]:
for x in []:
    print('This never happens.')


Although a list can contain another list, the nested
list still counts as a single element. The length of this list is
four:

In [ ]:
['spam', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]

## Bonus flatten list of list and list compehension

https://docs.python.org/3.0/tutorial/datastructures.html?highlight=list%20comprehension

In [ ]:
my_list = [['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]

In [ ]:
[element for sublist in my_list for element in sublist ]

In [ ]:
my_list = ['spam', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]

In [ ]:
[element for element in my_list if not isinstance(element, list) ]

In [ ]:
[element for sublist in my_list if isinstance(sublist, list) for element in sublist ]

## 10.4 List operations

The + operator concatenates lists:

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
c


The * operator repeats a list a given number of times:

In [ ]:
[0] * 4

In [ ]:
[1, 2, 3] * 3


The first example repeats [0] four times. The second example
repeats the list [1, 2, 3] three times.

## 10.5 List slices

The slice operator also works on lists:

In [ ]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3]

In [ ]:
t[:4]

In [ ]:
t[3:]


If you omit the first index, the slice starts at the beginning.
If you omit the second, the slice goes to the end. So if you
omit both, the slice is a copy of the whole list.

In [ ]:
t[:]


Since lists are mutable, it is often useful to make a copy
before performing operations that modify lists.

A slice operator on the left side of an assignment
can update multiple elements:

In [ ]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3] = ['x', 'y']
t

## Bonus: can you reverse list with slicing?

['f', 'e', 'd', 'y', 'x', 'a']

In [ ]:
t[::-1]

## 10.6 List methods

Python provides methods that operate on lists. For example,
append adds a new element to the end of a list:

In [ ]:
t = ['a', 'b', 'c']
t.append('d')
t.index()


extend takes a list as an argument and appends all of
the elements:

In [ ]:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
t1


This example leaves t2 unmodified.

sort arranges the elements of the list from low to high:

In [ ]:
t = ['d', 'c', 'e', 'b', 'a']
t.sort()
t


Most list methods are void; they modify the list and return None.
If you accidentally write t = t.sort(), you will be disappointed
with the result.

## 10.7 Map, filter and reduce

To add up all the numbers in a list, you can use a loop like this:

In [ ]:
def add_all(t):
    total = 0
    for x in t:
        total += x
    return total


total is initialized to 0. Each time through the loop,
x gets one element from the list. The += operator
provides a short way to update a variable. This 
augmented assignment statement,

In [ ]:
    total += x


is equivalent to

In [ ]:
    total = total + x


As the loop runs, total accumulates the sum of the
elements; a variable used this way is sometimes called an
accumulator.

Adding up the elements of a list is such a common operation
that Python provides it as a built-in function, sum:

In [ ]:
t = [1, 2, 3]
sum(t)
6


**An operation like this that combines a sequence of elements into
a single value is sometimes called reduce.**

Sometimes you want to traverse one list while building
another. For example, the following function takes a list of strings
and returns a new list that contains capitalized strings:

In [ ]:
def capitalize_all(t):
    res = []
    for s in t:
        res.append(s.capitalize())
    return res


res is initialized with an empty list; each time through
the loop, we append the next element. So res is another
kind of accumulator.

**An operation like capitalize_all is sometimes called a map because it “maps” a function (in this case the method capitalize) onto each of the elements in a sequence.**

Another common operation is to select some of the elements from
a list and return a sublist. For example, the following
function takes a list of strings and returns a list that contains
only the uppercase strings:

In [ ]:
def only_upper(t):
    res = []
    for s in t:
        if s.isupper():
            res.append(s)
    return res


isupper is a string method that returns True if
the string contains only upper case letters.

**An operation like only_upper is called a filter because
it selects some of the elements and filters out the others.**

Most common list operations can be expressed as a combination
of map, filter and reduce.

## 10.8 Deleting elements

There are several ways to delete elements from a list. If you
know the index of the element you want, you can use
pop:

In [ ]:
t = ['a', 'b', 'c']
x = t.pop(1)
t

In [ ]:
x


pop modifies the list and returns the element that was removed.
If you don’t provide an index, it deletes and returns the
last element.

If you don’t need the removed value, you can use the del
operator:

In [ ]:
t = ['a', 'b', 'c']
del t[1]
t


If you know the element you want to remove (but not the index), you
can use remove:

In [ ]:
t = ['a', 'b', 'b', 'c']
t.remove('b')
t


The return value from remove is None.

To remove more than one element, you can use del with
a slice index:

In [ ]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:5]
t


As usual, the slice selects all the elements up to but not
including the second index.

## 10.9 Lists and strings

A string is a sequence of characters and a list is a sequence
of values, but a list of characters is not the same as a
string. To convert from a string to a list of characters,
you can use list:

In [ ]:
s = 'spam'
t = list(s)
t


Because list is the name of a built-in function, you should
avoid using it as a variable name. I also avoid l because
it looks too much like 1. So that’s why I use t.

The list function breaks a string into individual letters. If
you want to break a string into words, you can use the split
method:

In [ ]:
s = 'pining for the fjords'
t = s.split()
t


An optional argument called a delimiter specifies which
characters to use as word boundaries.
The following example
uses a hyphen as a delimiter:

In [ ]:
s = 'spam-spam-spam'
delimiter = '-'
t = s.split(delimiter)
t


join is the inverse of split. It
takes a list of strings and
concatenates the elements. join is a string method,
so you have to invoke it on the delimiter and pass the
list as a parameter:

In [ ]:
t = ['pining', 'for', 'the', 'fjords']
delimiter = ' '
s = delimiter.join(t)
s


In this case the delimiter is a space character, so
join puts a space between words. To concatenate
strings without spaces, you can use the empty string,
'', as a delimiter.

## 10.10 Objects and values

If we run these assignment statements:

In [ ]:
a = 'banana'
b = 'banana'


We know that a and b both refer to a
string, but we don’t
know whether they refer to the same string.
There are two possible states, shown in Figure 10.2.

In one case, a and b refer to two different objects that
have the same value. In the second case, they refer to the same
object.

To check whether two variables refer to the same object, you can
use the is operator.

In [ ]:
a = 'banana'
b = 'banana'
a is b


In this example, Python only created one string object, and both a and b refer to it. But when you create two lists, you get
two objects:

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
a is b


So the state diagram looks like Figure 10.3.

In this case we would say that the two lists are equivalent,
because they have the same elements, but not identical, because
they are not the same object. If two objects are identical, they are
also equivalent, but if they are equivalent, they are not necessarily
identical.

Until now, we have been using “object” and “value”
interchangeably, but it is more precise to say that an object has a
value. If you evaluate [1, 2, 3], you get a list
object whose value is a sequence of integers. If another
list has the same elements, we say it has the same value, but
it is not the same object.

## 10.11 Aliasing

If a refers to an object and you assign b = a,
then both variables refer to the same object:

In [ ]:
a = [1, 2, 3]
b = a
b is a


The state diagram looks like Figure 10.4.

The association of a variable with an object is called a reference. In this example, there are two references to the same
object.

An object with more than one reference has more
than one name, so we say that the object is aliased.

If the aliased object is mutable, changes made with one alias affect
the other:

In [ ]:
b[0] = 42
a

In [ ]:
b


Although this behavior can be useful, it is error-prone. In general,
it is safer to avoid aliasing when you are working with mutable
objects.

For immutable objects like strings, aliasing is not as much of a
problem. In this example:

In [ ]:
a = 'banana'
b = 'banana'


It almost never makes a difference whether a and b refer
to the same string or not.

## 10.12 List arguments

When you pass a list to a function, the function gets a reference to
the list. If the function modifies the list, the caller sees
the change. For example, delete_head removes the first element
from a list:

In [1]:
def delete_head(t):
    del t[0]


Here’s how it is used:

In [2]:
letters = ['a', 'b', 'c']
delete_head(letters)
letters

['b', 'c']


The parameter t and the variable letters are
aliases for the same object. The stack diagram looks like
Figure 10.5.

Since the list is shared by two frames, I drew
it between them.

It is important to distinguish between operations that
modify lists and operations that create new lists. For
example, the append method modifies a list, but the
+ operator creates a new list.

Here’s an example using append:

In [3]:
t1 = [1, 2]
t2 = t1.append(3)
t1

[1, 2, 3]

In [4]:
t2


The return value from append is None.

Here’s an example using the + operator:

In [5]:
t3 = t1 + [4]
t1

[1, 2, 3]

In [6]:
t3

[1, 2, 3, 4]


The result of the operator is a new list, and the original list is
unchanged.

This difference is important when you write functions that
are supposed to modify lists. For example, this function
does not delete the head of a list:

In [7]:
def bad_delete_head(t):
    t = t[1:]              # WRONG!


The slice operator creates a new list and the assignment
makes t refer to it, but that doesn’t affect the caller.

In [8]:
t4 = [1, 2, 3]
bad_delete_head(t4)
t4

[1, 2, 3]


At the beginning of bad_delete_head, t and t4
refer to the same list. At the end, t refers to a new list,
but t4 still refers to the original, unmodified list.

An alternative is to write a function that creates and
returns a new list. For
example, tail returns all but the first
element of a list:

In [9]:
def tail(t):
    return t[1:]


This function leaves the original list unmodified.
Here’s how it is used:

In [10]:
letters = ['a', 'b', 'c']
rest = tail(letters)
rest
['b', 'c']

['b', 'c']